h1#title {
    display: block;
    background: url(https://raw.githubusercontent.com/mangano-ito/blog-theme/master/logo.png) no-repeat right top;
    background-size: contain;
    text-align: right;
    margin-bottom: 4em;
    transform: rotate(10deg);

    & a {
        display: block;
        color: transparent;
        font-size: 250%;
        max-height: 1em;
        overflow: hidden;
        border: none;
    }
}
