h1#title {
    text-align: right;
    margin: 2em auto 0;

    & a {
        margin: 0;
        display: inline-block;
        background: url(https://mangano-ito.github.io/mangano-ito.hatenablog.com/logo.png) no-repeat center right;
        background-size: contain;
        color: transparent;
        max-width: 100%;
        width: 20em;
        height: 7em;
        border: none;
        transform: rotate(10deg);
    }
}

.page-archive h1#title {
    text-align: center;
}
