:root {
    --color-background: #111;
    --color-foreground: #fff;
    --color-aside: color-mod(var(--color-foreground) lightness(-30%));
    --color-interactive: hsla(43deg, 100%, 60%, 1.0);
    --color-accent: hsl(30deg, 50%, 70%);
}
